<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Start Footer -->
<div th:fragment="header">
	<footer class="bg-dark" id="tempaltemo_footer">
		<div class="container">
			<div class="row">

				<div class="col-md-4 pt-5">
					<h2 class="h2 text-success border-bottom pb-3 border-light logo">
						Museum</h2>
				</div>

				<div class="col-md-4 pt-5">
					<h2 class="h2 text-light border-bottom pb-3 border-light">메뉴</h2>
					<ul class="list-unstyled text-light footer-link-list">
						<li><a class="text-decoration-none" href="/exhibition/list">전시리스트</a></li>
						<li><a class="text-decoration-none" href="/members/login">로그인</a></li>
						<li><a class="text-decoration-none" href="/members/new">회원가입</a></li>
						<li><a class="text-decoration-none">게시판</a></li>
					</ul>
				</div>


			</div>
		</div>

	</footer>
	<!-- End Footer -->
</div>
</html>